<h1>EdNet - Optimize Student Performance: Data Wrangling</h1>

In [1]:
# I get by with a little help from my friends
#import matplotlib.pyplot as plt
#import seaborn as sns
import datetime
import numpy as np
import pandas as pd
import glob

In [2]:
cd ~/Desktop/SPRINGBOARD_MASTER/EdNet/data/processed

C:\Users\Prem\Desktop\SPRINGBOARD_MASTER\EdNet\data\processed

In [3]:
# file location
prefix = '~/Desktop/SPRINGBOARD_MASTER/EdNet/data/processed'

# create a list of the csv files in current directory
csv_files = glob.glob('*.csv')

In [4]:
# count of csv files in current directory
print(len(csv_files))

10870

In [18]:
z = z+1 
for i in range(1000):
    df = pd.read_csv(csv_files[z], 
                              index_col=0, 
                              parse_dates=["timestamp", "deployed_at"], 
                              date_parser=lambda col: pd.to_datetime(col, unit='ms'))

    # convert categorical columns to integer by removing leading letter: user_id, bundle_id, explanation_id, question_id
    df.bundle_id = (df.bundle_id.str.replace('b','')).astype(int)
    df.explanation_id = (df.explanation_id.str.replace('e','')).astype(int)
    df.question_id = (df.question_id.str.replace('q','')).astype(int)
    df.to_csv(str('_'+csv_files[z]) +'.csv', index=False)
    z+=1

In [19]:
print(z)

2103

In [7]:
df.nunique()

timestamp         62
deployed_at       47
elapsed_time      22
solving_id        52
bundle_id         37
explanation_id    37
tags              44
part               4
question_id       47
user_answer        4
correct_answer     4
correct            2
score              1
action_type        0
item_id            0
platform           0
cursor_time        0
dtype: int64

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
elapsed_time,62.0,27290.258065,1.428556e+04,10666.000000,20000.000000,23000.000000,28750.000000,80333.000000
solving_id,62.0,27.870968,1.422245e+01,1.000000,16.250000,31.500000,37.000000,52.000000
bundle_id,62.0,1629.935484,1.814436e+03,10.000000,245.000000,1003.000000,2071.000000,5778.000000
explanation_id,62.0,1629.935484,1.814436e+03,10.000000,245.000000,1003.000000,2071.000000,5778.000000
part,62.0,2.354839,1.331790e+00,1.000000,1.000000,2.000000,4.000000,5.000000
question_id,62.0,2348.048387,2.709657e+03,10.000000,245.000000,1003.000000,3411.750000,8427.000000
correct,62.0,0.274194,4.497487e-01,0.000000,0.000000,0.000000,1.000000,1.000000
score,62.0,0.274194,2.798216e-16,0.274194,0.274194,0.274194,0.274194,0.274194
action_type,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
platform,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cursor_time,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.dtypes

timestamp         datetime64[ns]
deployed_at       datetime64[ns]
elapsed_time             float64
solving_id               float64
bundle_id                  int32
explanation_id             int32
tags                      object
part                       int64
question_id                int32
user_answer               object
correct_answer            object
correct                    int64
score                    float64
action_type              float64
item_id                  float64
platform                 float64
cursor_time              float64
dtype: object

In [12]:
df.head()

,timestamp,deployed_at,elapsed_time,solving_id,bundle_id,explanation_id,tags,part,question_id,user_answer,correct_answer,correct,score,action_type,item_id,platform,cursor_time
user_id,,,,,,,,,,,,,,,,,
u10165,2019-07-15 00:06:05.704,2018-05-18 08:58:38.209,24000.0,1.0,5778,5778,74,5,8427,a,a,1,0.274194,NaN,NaN,NaN,NaN
u10165,2019-07-15 13:55:27.655,2017-12-29 15:02:13.978,26000.0,2.0,5535,5535,12;2;179;182,1,8064,c,c,1,0.274194,NaN,NaN,NaN,NaN
u10165,2019-07-15 13:56:13.061,2019-10-30 05:16:01.072,17000.0,3.0,297,297,24;40;183;184,2,297,a,b,0,0.274194,NaN,NaN,NaN,NaN
u10165,2019-07-31 04:04:11.019,2019-10-30 05:16:01.072,18000.0,38.0,297,297,24;40;183;184,2,297,a,b,0,0.274194,NaN,NaN,NaN,NaN
u10165,2019-07-15 13:56:45.356,2019-10-17 03:04:34.534,28000.0,4.0,2575,2575,81,5,4043,a,c,0,0.274194,NaN,NaN,NaN,NaN