<h1>EdNet - Optimize Student Performance: Data Wrangling</h1>

In [1]:
# I get by with a little help from my friends
#import matplotlib.pyplot as plt
#import seaborn as sns
import datetime
import numpy as np
import pandas as pd
import glob

In [2]:
cd ~/Desktop/SPRINGBOARD_MASTER/EdNet/data/processed

C:\Users\Prem\Desktop\SPRINGBOARD_MASTER\EdNet\data\processed

In [3]:
# file location
prefix = '~/Desktop/SPRINGBOARD_MASTER/EdNet/data/processed'

# create a list of the csv files in current directory
csv_files = glob.glob('*.csv')

In [4]:
# count of csv files in current directory
print(len(csv_files))

10867

In [5]:
z = 0
for i in range(10000):
    df = pd.read_csv(csv_files[z], 
                              index_col=0, 
                              parse_dates=["timestamp", "deployed_at"], 
                              date_parser=lambda col: pd.to_datetime(col, unit='ms'))

    # convert categorical columns to integer by removing leading letter: user_id, bundle_id, explanation_id, question_id
    df.bundle_id = (df.bundle_id.str.replace('b','')).astype(int)
    df.explanation_id = (df.explanation_id.str.replace('e','')).astype(int)
    df.question_id = (df.question_id.str.replace('q','')).astype(int)
    df.to_csv(str('_'+csv_files[z]), index=True)
    z+=1

In [11]:
print(z)

10000

In [7]:
df.nunique()

timestamp         9
deployed_at       8
elapsed_time      7
solving_id        9
bundle_id         9
explanation_id    9
tags              9
part              2
question_id       9
user_answer       4
correct_answer    4
correct           2
score             1
action_type       0
item_id           0
platform          0
cursor_time       0
dtype: int64

In [8]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
elapsed_time,9.0,24222.222222,3800.584750,17000.000000,22000.000000,25000.000000,27000.000000,29000.000000
solving_id,9.0,5.000000,2.738613,1.000000,3.000000,5.000000,7.000000,9.000000
bundle_id,9.0,3066.888889,2122.474761,224.000000,398.000000,3956.000000,4931.000000,5060.000000
explanation_id,9.0,3066.888889,2122.474761,224.000000,398.000000,3956.000000,4931.000000,5060.000000
part,9.0,4.000000,1.500000,2.000000,2.000000,5.000000,5.000000,5.000000
question_id,9.0,4045.555556,2837.898303,224.000000,398.000000,5424.000000,6399.000000,6528.000000
correct,9.0,0.666667,0.500000,0.000000,0.000000,1.000000,1.000000,1.000000
score,9.0,0.666667,0.000000,0.666667,0.666667,0.666667,0.666667,0.666667
action_type,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
item_id,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
platform,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cursor_time,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
df.dtypes

timestamp         datetime64[ns]
deployed_at       datetime64[ns]
elapsed_time             float64
solving_id               float64
bundle_id                  int32
explanation_id             int32
tags                      object
part                       int64
question_id                int32
user_answer               object
correct_answer            object
correct                    int64
score                    float64
action_type              float64
item_id                  float64
platform                 float64
cursor_time              float64
dtype: object

In [10]:
df.head()

,timestamp,deployed_at,elapsed_time,solving_id,bundle_id,explanation_id,tags,part,question_id,user_answer,correct_answer,correct,score,action_type,item_id,platform,cursor_time
user_id,,,,,,,,,,,,,,,,,
u257408,2018-09-12 07:35:15.089,2019-09-16 12:02:16.554,29000.0,1.0,3331,3331,107,5,4799,b,b,1,0.666667,NaN,NaN,NaN,NaN
u257408,2018-09-12 07:35:39.595,1969-12-31 23:59:59.999,21000.0,2.0,224,224,28;32;185;183,2,224,a,c,0,0.666667,NaN,NaN,NaN,NaN
u257408,2018-09-12 07:36:05.326,2018-02-20 05:45:38.609,23000.0,3.0,4347,4347,74,5,5815,c,c,1,0.666667,NaN,NaN,NaN,NaN
u257408,2018-09-12 07:36:24.793,2019-10-30 05:21:29.796,17000.0,4.0,398,398,30;24;43;183;184,2,398,c,c,1,0.666667,NaN,NaN,NaN,NaN
u257408,2018-09-12 07:36:49.521,1969-12-31 23:59:59.999,22000.0,5.0,377,377,30;31;32;185;181,2,377,a,a,1,0.666667,NaN,NaN,NaN,NaN